<div class="modal" data-modal-target="modal.modal">
  <div class="modal-content">
    <!-- Add modal content here -->
    <h1>kjhkjh</h1>
  </div>
  <button data-action="click->modal#closeModal">Close</button>
</div>